<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="998dbd8f-e0fa-4ee6-a2fb-6be7616a061e" name="Project 7 TestSuite 1" xmlns:con="http://eviware.com/soapui/config"><con:settings><con:setting id="998dbd8f-e0fa-4ee6-a2fb-6be7616a061efileName">Project-7-TestSuite-1</con:setting></con:settings><con:runType>SEQUENTIAL</con:runType><con:properties/><con:reportParameters/></con:testSuite>